body{
    background-color: #2e0505;
    color:#555;
    font-family: 16px;
    line-height: 1.6em;
    margin: 0;
}

button{
    background-color: green;
    border: none;
    height: 100%;
}

.container{
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

#info{
    background-color: blanchedalmond;
    position: fixed;
    top: 0px;
    width: 80%;
    height: 40px;
}

#chat{
    background-color: blanchedalmond;
    z-index: -1;
    width: 80%;
    margin: 0px auto;
    position: absolute;
    top: 60px;
}

#message{
    position: fixed;
    bottom: 0px;
    width: 80%;
    height: 40px;
}

#type-message{
    height: 100%;
    width: inherit;
}

#room{
    float: left;
    height: 100%;
    width: inherit;
}

#exit{
    float: right;
}